.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.137)),
    url("../../assets/images/netflix.jpg");
  background-position: center;
  background-size: cover;
  height: 85vh;
  margin-bottom: 5rem;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 2.5rem;
  flex-direction: column;
  align-items: center;
}

.hero_box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero_heading {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  z-index: 1;
}

.hero_api {
  text-transform: capitalize;
}

.hero_api a {
  color: #76ff06;
  text-decoration: none;
}
