.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.137)),
    url("../../assets/images/netflix.jpg");
  background-position: center;
  background-size: cover;
  height: 85vh;
  margin-bottom: 5rem;
}

.hero__container {
}
