.form {
  position: relative;
}

.search {
  background: transparent;
  border: 2px solid rgba(153, 153, 153, 0.705);
  width: 250px;
  height: 30px;
  outline: none;
  transition: all 0.3s ease;
  color: rgba(219, 219, 219, 0.705);
  font-size: 18px;
}

/* .search:focus {
  width: 350px;
} */

.icon {
  position: absolute;
  top: 10%;
  right: 2%;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgba(153, 153, 153, 0.705);
}
